/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

/* utility */

:root {
    --green-back: #009688;
    --gray: #e7e7e4;
    --white: #FFFFFF;
    --green-message: #D5F9BA;
    --gray-text: #999AA0;
    --celeste-notification: #8EDAFC;
}

i {
    font-size: 1.5em;
    color: var(--gray-text);
    cursor: pointer;
}

/* style */


/* background body */
.top-body {
    background-color: var(--green-back);
    width: 100%;
    height: 20vh;

    position: fixed;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #D4DBD9;

}

/* app */

#app {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);

    /* border: 1px solid black; */

    min-width: 1400px;
    height: calc(100vh - 4rem);
    display: flex;
}

.side-bar {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
}

.content-bar {
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */

    position: relative;
}

/* side-bar */


.side-bar>* {
    width: 100%;
}

/* user account */

.user-account {
    height: 4rem;
    background-color: var(--gray);

    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.user-image {
    border-radius: 50%;
    height: 100%;
    margin-right: 0.5rem;
}

.icons {
    margin-left: auto;
}

.icons .fa-solid {
    margin: 0 0.5rem;
}

/* notifications */

.notification {
    height: 6rem;
    background-color: var(--celeste-notification);

    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.icon-notif {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 1rem 0.8rem;
    margin: 0 0.5rem;

    background-color: var(--white);
}

.icon-notif .fa-bell-slash {
    color: var(--celeste-notification);
}

.active-notif {
    color: #568093;
}

/* search friend bar */

.search-friend {
    display: flex;
    padding: 0.8rem;
    background-color: rgb(245, 243, 243);
}

.search-friend .icon-search {
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray);
    background-color: var(--white);
}

.search-friend .input-search {
    width: 100%;
    border: 1px solid var(--gray);
    border-left: none;
    padding: 0.3rem;
    font-size: 1.2em;
}

/* friend bar */

.friend-bar {
    height: 74%;
    padding-bottom: 0.2rem;
    overflow-y: scroll;
}

.friend-bar .friend {
    height: 5rem;
    display: flex;

    padding: 1rem 0.5rem;
    /* margin: 0 0.5rem; */

    background-color: var(--white);

    border-bottom: 1px solid var(--gray);
}

.friend-bar .friend-details {
    position: relative;
    width: 100%;

    padding-left: 0.5rem;
}

.friend-bar .friend img {
    height: 100%;
    border-radius: 50%;
}

.friend-bar .friend-name {
    font-size: 1.3em;
    padding-bottom: 0.3rem;
}

.friend-bar .last-message {
    color: var(--gray-text);
}

.friend-bar .time-message {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-text);
}

/* content bar */

.content-bar>* {
    width: 100%;
}

.content-bar .friend-selected,
.content-bar .text-inner-message {
    height: 4rem;
    padding: 0.7rem;
    background-color: var(--gray);
    display: flex;
    align-items: center;
}


.content-bar img {
    height: 100%;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.content-bar .friend-name {
    font-size: 1.2em;
}

.content-bar .last-message {
    color: var(--gray-text);
}

.content-bar .icons-selected-user {
    margin-left: auto;
}

.content-bar .icons-selected-user .fa-solid {
    margin: 0 0.5rem;
}

/* content message */

.content-bar .content-message {
    height: calc(100% - 8rem);

    background-image: url(../img/mine.jpg);
}

/* text inner message */

.content-bar .fa-solid {
    margin: 0 1.5rem;
    font-size: 2em;
}

.content-bar .text-message {
    height: 100%;
    width: 100%;
    border: transparent;
    border-radius: 7px;
    padding: 0.5rem;
    font-size: 1em;
}