<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="top-body">

    </div>

    <div id="app">

        <!-- side-bar -->
        <div class="side-bar">

            <!-- user account -->
            <div class="user-account">

                <img src="img/avatar_io.jpg" alt="avatar user" class="user-image">

                <div class="user-name">
                    Sofia
                </div>


                <div class="icons">

                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>

                    <i @click="NewContact()" class="fa-solid fa-ellipsis-vertical"></i>

                    <ul v-show="newContactBool == true" class="hidden-list">
                        <li @click="addNewContact()">aggiungi contatto</li>
                    </ul>

                    <!-- popup for new contact -->
                    <div v-show="popupBool == true" class="pupup-add-contact">
                        <input type="text" placeholder="inserisci il tuo nome" v-model="newContact.name">
                        <input type="text" placeholder="inserisci un link per la tua foto" v-model="newContact.image">

                        <button @click="pushNewContact()">
                            invia
                        </button>
                    </div>

                </div>
            </div>

            <!-- notification container -->
            <div class="notification">

                <div class="icon-notif">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>

                <div class="content-notif">

                    <div class="title-notif">
                        Ricevi notifiche di nuovi messaggi
                    </div>

                    <a href="#!" class="active-notif">
                        Attiva notifiche desktop
                    </a>

                </div>

            </div>

            <!-- search friend bar -->
            <div class="search-friend">

                <div class="icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <input type="text" class="input-search" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup="searchFunction()">

            </div>

            <!-- friend bar -->
            <div class="friend-bar">

                <!-- each singol friend  -->
                <div class="friend" v-for="user in arrFriends" @click="selectUser(user.id)" :class="{'back-color': (selectUserIndex == user.id)}" v-show="!user.searchBool == true" :key="user.id">
                    
                    <img :src="user.image" :alt="user.name">

                    <div class="friend-details">

                        <div class="friend-name">
                           {{user.name}}
                        </div>

                        <div v-for="(message, index) in user.messages" class="last-message" v-if="index == user.messages.length - 1">
                            {{message.text}}
                        </div>

                        <div class="time-message" v-for="(object, index) in user.messages" class="last-message" v-if="index == user.messages.length - 1">
                            {{getDate(object.timeMessage, 'italian')}}
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- content-bar -->
        <div class="content-bar">

            <!-- friend selected top screen -->
            <div class="friend-selected">

                <img :src="arrFriends[selectUserIndex].image" :alt="arrFriends[selectUserIndex].name">

                <!-- friend selected details -->
                <div class="friend-details">

                    <div class="friend-name">
                        {{arrFriends[selectUserIndex].name}}
                    </div>

                    <!-- loading type message -->
                    <div v-if="arrFriends[selectUserIndex].loading == true" class="load-message">
                        sta scrivendo...
                    </div>

                    <!-- loading type message -->
                    <div v-else-if="arrFriends[selectUserIndex].online == true" class="load-message">
                        online
                    </div>

                    <div v-else>

                        <div v-for="(item, index) in arrFriends[selectUserIndex].messages" class="last-message" v-if="index == arrFriends[selectUserIndex].messages.length - 1">
                            {{item.text + '  il  ' + getDate(item.timeMessage, 'italian') }}
                        </div>

                    </div>

                </div>

                <!-- icons top right screen -->
                <div class="icons-selected-user">

                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>

                    <i @click="deleteMenuOpen()" class="fa-solid fa-ellipsis-vertical"></i>

                    <ul v-show="arrFriends[selectUserIndex].openMenu" class="hidden-list">
                        <li @click="deleteAllMessages()">cancella tutti i messaggi</li>
                        <li @click="deleteUser(selectUserIndex)">cancella contatto</li>
                    </ul>

                </div>

            </div>

            <!-- content messages middle screen -->
            <div class="content-message">

                <div class="row-message">

                    <div v-for="(item, index) in arrFriends[selectUserIndex].messages" class="cont-message"  :class=" (item.message == true) ? 'user-message' : 'not-user-message' ">

                        {{item.text}}

                        <!-- time message  -->
                        <span class="time-message">
                        {{getDate(item.timeMessage, 'italian')}}
                        </span>

                        <!-- hidden list plus icon -->
                        <i class="fa-solid fa-angle-down" @click="showHiddenList(item)"></i>

                        <ul class="hidden-list" :class="item.list == true ? 'show' : '' ">

                            <li>
                                Info messaggio
                            </li>

                            <li @click="deleteMessage(index)">
                            Cancella messaggio
                            </li>

                        </ul>

                    </div> 

                </div>

            </div>

            <!-- text inner message bottom screen -->
            <div class="text-inner-message">

                <!-- icon for emoji section -->
                <i class="fa-regular fa-face-smile"></i>

                <!-- input message user -->
                <input type="text" class="text-message" placeholder="Scrivi un messaggio" v-model.trim="arrFriends[selectUserIndex].object.text" @keyup.enter="sendMessage()">
                
                <!-- icons for audio message and send button -->
                <i v-if="arrFriends[selectUserIndex].object.text !== '' " class="fa-solid fa-paper-plane" @click="sendMessage()"></i>
                <i v-else class="fa-solid fa-microphone"></i>

            </div>
        </div>

    </div>



    <!-- luxon js -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- my js -->
    <script src="js/script.js"></script>
</body>
</html>