<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="top-body">

    </div>

    <div id="app">

        <!-- side-bar -->
        <div class="side-bar">

            <!-- user account -->
            <div class="user-account">
                <img src="img/avatar_io.jpg" alt="avatar user" class="user-image">
                <div class="user-name">
                    Sofia
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- notification container -->
            <div class="notification">

                <div class="icon-notif">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>

                <div class="content-notif">
                    <div class="title-notif">
                        Ricevi notifiche di nuovi messaggi
                    </div>

                    <a href="#!" class="active-notif">
                        Attiva notifiche desktop
                    </a>
                </div>
            </div>

            <!-- search friend bar -->
            <div class="search-friend">

                <div class="icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <input type="text" class="input-search" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- friend bar -->
            <div class="friend-bar">

                <div class="friend" v-for="user in arrFriends" @click="selectUser(user.id)" :class="selectUserIndex == user.id ? 'back-color' : '' " :key="user.id">
                    <img :src="'img/' + user.image" alt="avatar 1">

                    <div class="friend-details">
                        <div class="friend-name">
                           {{user.name}}
                        </div>

                        <div v-for="(object, index) in user.messages" class="last-message" v-if="index == user.messages.length - 1">
                            {{object.text}}
                        </div>

                        <div class="time-message">
                            {{user.timeAccess}}
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- content-bar -->
        <div class="content-bar">

            <!-- friend selected -->
            <div class="friend-selected">

                <img :src="'img/' + arrFriends[selectUserIndex].image" alt="avatar selected">

                <div class="friend-details">
                    <div class="friend-name">
                        {{arrFriends[selectUserIndex].name}}
                    </div>

                    <!-- <div class="last-message">
                        {{arrFriends[selectUserIndex].lastMessage }}
                    </div> -->

                    <div v-for="(object, index) in arrFriends[selectUserIndex].messages" class="last-message" v-if="index == arrFriends[selectUserIndex].messages.length - 1">
                        {{object.text + '  il  ' + arrFriends[selectUserIndex].timeAccess}}
                    </div>
                </div>

                <div class="icons-selected-user">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                

            </div>

            <!-- content message -->
            <div class="content-message">
                <div class="row-message">

                    <div v-for="item in arrFriends[selectUserIndex].messages"> 
                        <div :class=" (item.message == true) ? 'user-message' : 'not-user-message' ">
                          {{item.text}}
                          <span class="time-message">
                            {{item.timeMessage}}
                          </span>
                        </div> 
                    </div>

                </div>

            </div>

            <!-- text inner message -->
            <div class="text-inner-message">
                <i class="fa-regular fa-face-smile"></i>

                <!-- input message user -->
                <input type="text" class="text-message" placeholder="Scrivi un messaggio" v-model="object.text" @keyup.enter="functions()">
                
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>

    </div>



    <!-- luxon js -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- my js -->
    <script src="js/script.js"></script>
</body>
</html>